<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Customer.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>VerifyOtpServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Customer.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>Admin.Servlets.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Customer.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Customer.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServe</servlet-name>
        <servlet-class>Customer.ResetPasswordServe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Admin.Servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVerifyOtpServlet</servlet-name>
        <servlet-class>Admin.Servlets.AdminVerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>Customer.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminResetPasswordServet</servlet-name>
        <servlet-class>Admin.Servlets.AdminResetPasswordServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForgotPasswordServlet</servlet-name>
        <servlet-class>Admin.Servlets.AdminForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverRegisterServlet</servlet-name>
        <servlet-class>Driver.DriverRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverVerifyOtpServlet</servlet-name>
        <servlet-class>Driver.DriverVerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverForgotPasswordServlet</servlet-name>
        <servlet-class>Driver.DriverForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverResetPasswordServet</servlet-name>
        <servlet-class>Driver.DriverResetPasswordServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>Driver.DriverLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiPartServlet</servlet-name>
        <servlet-class>com.example.MultiPartServlet</servlet-class>
        <init-param>
            <param-name>maxFileSize</param-name>
            <param-value>20485760</param-value>
        </init-param>
        <init-param>
            <param-name>maxRequestSize</param-name>
            <param-value>40971520</param-value>
        </init-param>
        <init-param>
            <param-name>fileSizeThreshold</param-name>
            <param-value>1024</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>VehicleSaveServlet</servlet-name>
        <servlet-class>Driver.VehicleSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleRetrieveServlet</servlet-name>
        <servlet-class>Driver.VehicleRetrieveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Customer.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>Admin.Servlets.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Customer.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookVehicleServlet</servlet-name>
        <servlet-class>Customer.bookVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>Customer.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>Customer.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingsServlet</servlet-name>
        <servlet-class>Driver.BookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteTripServlet</servlet-name>
        <servlet-class>Driver.CompleteTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServletView</servlet-name>
        <servlet-class>Driver.BookingServletView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalEarningsServlet</servlet-name>
        <servlet-class>Driver.TotalEarningsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>Driver.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>Driver.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleManageServlet</servlet-name>
        <servlet-class>Admin.Servlets.VehicleManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveVehicleServlet</servlet-name>
        <servlet-class>Admin.Servlets.ApproveVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectVehicleServlet</servlet-name>
        <servlet-class>Admin.Servlets.RejectVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditProfileServlet</servlet-name>
        <servlet-class>Customer.CustomerEditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateProfileServlet</servlet-name>
        <servlet-class>Customer.CustomerUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderSaveServlet</servlet-name>
        <servlet-class>Admin.SliderSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>Admin.SampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVehicleTypesServlet</servlet-name>
        <servlet-class>Admin.Servlets.ManageVehicleTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleTypeServlet</servlet-name>
        <servlet-class>Admin.Servlets.EditVehicleTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehicleTypeServlet</servlet-name>
        <servlet-class>Admin.Servlets.DeleteVehicleTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>Admin.Servlets.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <servlet-class>Admin.Servlets.ManageCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>Admin.Servlets.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>Admin.Servlets.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTripServlet</servlet-name>
        <servlet-class>Admin.Servlets.ManageTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDriverServlet</servlet-name>
        <servlet-class>Customer.RequestDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Customer.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <servlet-class>Customer.ProcessPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestDriverServlet</servlet-name>
        <servlet-class>Admin.Servlets.ManageRequestDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServe</servlet-name>
        <url-pattern>/ResetPasswordServe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVerifyOtpServlet</servlet-name>
        <url-pattern>/AdminVerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminResetPasswordServet</servlet-name>
        <url-pattern>/AdminResetPasswordServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForgotPasswordServlet</servlet-name>
        <url-pattern>/AdminForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverRegisterServlet</servlet-name>
        <url-pattern>/DriverRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverVerifyOtpServlet</servlet-name>
        <url-pattern>/DriverVerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverForgotPasswordServlet</servlet-name>
        <url-pattern>/DriverForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverResetPasswordServet</servlet-name>
        <url-pattern>/DriverResetPasswordServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/DriverLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleSaveServlet</servlet-name>
        <url-pattern>/VehicleSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleRetrieveServlet</servlet-name>
        <url-pattern>/VehicleRetrieveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/AddVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookVehicleServlet</servlet-name>
        <url-pattern>/bookVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingsServlet</servlet-name>
        <url-pattern>/BookingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteTripServlet</servlet-name>
        <url-pattern>/CompleteTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServletView</servlet-name>
        <url-pattern>/BookingServletView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalEarningsServlet</servlet-name>
        <url-pattern>/TotalEarningsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleManageServlet</servlet-name>
        <url-pattern>/VehicleManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveVehicleServlet</servlet-name>
        <url-pattern>/ApproveVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectVehicleServlet</servlet-name>
        <url-pattern>/RejectVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditProfileServlet</servlet-name>
        <url-pattern>/CustomerEditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateProfileServlet</servlet-name>
        <url-pattern>/CustomerUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/SampleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVehicleTypesServlet</servlet-name>
        <url-pattern>/ManageVehicleTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleTypeServlet</servlet-name>
        <url-pattern>/EditVehicleTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehicleTypeServlet</servlet-name>
        <url-pattern>/DeleteVehicleTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/ManageStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <url-pattern>/ManageCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTripServlet</servlet-name>
        <url-pattern>/ManageTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDriverServlet</servlet-name>
        <url-pattern>/RequestDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <url-pattern>/ProcessPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestDriverServlet</servlet-name>
        <url-pattern>/ManageRequestDriverServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
